<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Trang chủ</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/architecture/">Architecture</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/coroutine/">Coroutine</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/hilt/">Hilt</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/compose/">Compose</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">Tôi</a></li>
</ul>
